<head>
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
</head>

<mat-horizontal-stepper [linear]="false" #stepper class="add_project_form">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Основная информация</ng-template>

      <mat-grid-list cols="4" rowHeight="75px" gutterSize="10px">

        <mat-grid-tile [colspan]="4">
          <mat-form-field class="project_tile">
            <input matInput formControlName="name" required autocomplete="off" placeholder="Имя проекта">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="project_tile">
            <input matInput [matDatepicker]="picker1" placeholder="Дата начала" formControlName="start">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="project_tile">
            <input matInput [matDatepicker]="picker2" placeholder="Дата окончания" formControlName="finish">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="project_tile">
            <input matInput required formControlName="costCurrent" autocomplete="off" placeholder="Средств собрано">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="project_tile">
            <input matInput required formControlName="costFull" autocomplete="off" placeholder="Общая стоимость">
          </mat-form-field>
        </mat-grid-tile>

      </mat-grid-list>

      <div>
        <button mat-stroked-button matStepperNext>
          <mat-icon>navigate_next</mat-icon>
        </button>
      </div>
    </form>

  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Описание</ng-template>
      <mat-form-field class="project_tile">
        <textarea matInput required class="project_textarea" formControlName="description" autocomplete="off" placeholder="Описание"></textarea>
      </mat-form-field>
      <div>
        <button mat-stroked-button matStepperPrevious>
          <mat-icon>navigate_before</mat-icon>
        </button>
        <button mat-stroked-button matStepperNext>
          <mat-icon>navigate_next</mat-icon>
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Риски</ng-template>
      <mat-form-field class="project_tile">
        <textarea matInput class="project_textarea" formControlName="risks" autocomplete="off" placeholder="Риски"></textarea>
      </mat-form-field>
      <div>
        <button mat-stroked-button matStepperPrevious>
          <mat-icon>navigate_before</mat-icon>
        </button>
        <button mat-stroked-button matStepperNext>
          <mat-icon>navigate_next</mat-icon>
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="forthFormGroup">
    <form [formGroup]="forthFormGroup">
      <ng-template matStepLabel>Дополнительная информация</ng-template>

      <label>Заглавная картинка: </label>

      <td-file-upload id="file" (select)="handleFileInput($event)" accept="image/jpeg,image/png">
        <mat-icon>file_upload</mat-icon><span>{{ fileToUpload?.name }}</span>
        <ng-template td-file-input-label>
          <mat-icon>attach_file</mat-icon>
          <span>
            Выберите файл...
          </span>
        </ng-template>
      </td-file-upload>

      <mat-divider class="project_tile project_elements_divider"></mat-divider>

      <mat-form-field class="project_tile">
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let tag of tags"
                    [selectable]="selectable"
                    [removable]="removable"
                    (removed)="remove(tag)">
            {{tag}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="Добавить теги..."
                 #tagInput
                 formControlName="tagsCtrl"
                 [matAutocomplete]="auto"
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let tag of filteredTags" [value]="tag">
            {{tag}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <div>
        <button mat-stroked-button matStepperPrevious>
          <mat-icon>navigate_before</mat-icon>
        </button>
        <button mat-stroked-button matStepperNext>
          <mat-icon>navigate_next</mat-icon>
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Завершение</ng-template>
    <p>Готово!</p>

    <mat-card class="project_card_result">
      <mat-card-header>
        <mat-card-title>{{projectName}}</mat-card-title>
      </mat-card-header>
      <img *ngIf="fileImage" mat-card-image src="{{fileImage}}">
      <mat-card-content>
        <p *ngIf="projectDescription">
          {{projectDescription.length > 303 ? projectDescription.substring(0, 300) + '...' : projectDescription}}
        </p>
      </mat-card-content>      
    </mat-card>

    <div>
      <button mat-stroked-button matStepperPrevious>
        <mat-icon>navigate_before</mat-icon>
      </button>
      <button mat-stroked-button (click)="stepper.reset()">Очистить всё</button>
      <p class="input">

       

        <button mat-stroked-button (click)="OnSubmit()" color="primary" >Сохранить</button> <!--onSubmit();-->
</div>
  </mat-step>
</mat-horizontal-stepper>
