<head class="text"><link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet"></head>

  <h1 class="style-text">О сайте</h1>
  <p align="justify" class="style-text">

    Инновационный информационный портал "Бизнес-университет" –
    это открытая инфраструктурно-консультационная площадка для развития взаимодействия университетов и бизнес-структур.
  </p>
  <ul class="push">
    <li align="justify">Проводятся <a href='https://localhost:44357/event'>события,</a> семинары, тренинги, деловые игры, мастер-классы, выставки, презентации</li>
    <li align="justify">
      Развиваются бизнес-связи в рамках региона и России. Данная площадка позволяет реализовывать
      смелые бизнес-инициативы и инновационные идеи
    </li>
    <li align="justify">Получают поддержку перспективные инновационные проекты на первоначальном  этапе развития</li>
  </ul>
  <p align="justify" class="text">Информационная площадка создаёт благоприятные условия для возникновения  эффективной деятельности малых инновационных фирм, реализующих оригинальные научно-технические идеи.</p>
  <style>
    p {
      font-size: 14pt;
      font-family: Palatino Linotype;
    }

    li {
      font-size: 14pt;
      font-family: Palatino Linotype;
    }
  </style>
