################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjectDiploma/.vs/ProjectDiploma/v15
/ProjectDiploma/DataStore/bin/Debug/netcoreapp2.1
/ProjectDiploma/DataStore/obj/Debug/netcoreapp2.1
