################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjectDiploma/.vs/ProjectDiploma/v15
