<head>
  <link href="https://fonts.googleapis.com/css?family=Alice|Philosopher" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Alice|Arsenal|Old+Standard+TT|Philosopher" rel="stylesheet">
</head>

<mat-sidenav-container class="example-container" (backdropClick)="close('backdrop')" color="accent">
  <mat-sidenav #sidenav (keydown.escape)="close('escape') " opened role="navigation" disableClose class="main-nav-bar nav-menu-width">
    <mat-nav-list>
      <button mat-button (click)="sidenav.close()" class="sidenav_button_close">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a mat-list-item button [routerLink]="['/']" class="style_text_menu"> <mat-icon mat-list-icon>home</mat-icon><strong>Главная</strong></a>
      <a mat-list-item button [routerLink]="['/event']" class="style_text_menu"><mat-icon mat-list-icon>event</mat-icon><strong>События</strong></a>
      <a mat-list-item button [routerLink]="['/news']" class="style_text_menu"><mat-icon mat-list-icon>speaker_notes</mat-icon><strong>Новости</strong></a>
      <a mat-list-item button [routerLink]="['/project']" class="style_text_menu"><mat-icon mat-list-icon>trending_up</mat-icon><strong>Проекты</strong></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="main-tool-bar mat-elevation-z7 style-manager-theme" color="primary">
      <mat-toolbar-row class="navbar nav-menu-button">
        <button mat-button (click)="sidenav.open()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <mat-form-field class="example-chip-list">
          <mat-chip-list #chipList class="shriftSearch">
            <mat-chip *ngFor="let  event of events" [selectable]="selectable"
                      [removable]="removable" (removed)="remove(event)">
              {{event.title}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input  placeholder="Поиск..." 
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="addOnBlur"
                   (matChipInputTokenEnd)="add($event)">
            <mat-icon aria-label="Side nav toggle icon">search</mat-icon>
          </mat-chip-list>
        </mat-form-field>
        <div *ngIf="currentUser">
          <button mat-button [matMenuTriggerFor]="menu">{{currentUser.email}}</button>
          <mat-menu #menu="matMenu">
            <button mat-button (click)="logout()" class="nav-menu-button">Выйти</button>
            <mat-icon aria-label="Side nav toggle icon">reply</mat-icon>
            <button class="nav-menu-button" mat-button [routerLink]="['/profile']">Профиль</button>
            <mat-icon aria-label="Side nav toggle icon" >assignment_ind</mat-icon>
          </mat-menu>
        </div>
        <button *ngIf="!currentUser" mat-button (click)="userRegistration()" class="icon_registration link1">
          <mat-icon>person_add</mat-icon>
          Зарегистрироваться
        </button>
        <button *ngIf="!currentUser && showLoginButton" mat-button (click)="openLoginDialog()">
          <mat-icon>account_circle</mat-icon>
          Войти
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
