.main-tool-bar {
  height: 100%;
  top: 0;
  position: relative;
}

.main-nav {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  height: calc(100% - 64px);
}

.main-nav-bar {  
  width: calc(25% - 20px);
}

.nav-menu-button button:focus {
  outline: none;
  border: 0;
}

