<head>
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
</head>

<!--<h1 mat-dialog-title class="style-text">Войти</h1>
<div mat-dialog-content [formGroup]="loginForm" class="form">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"> </div>
      <mat-card-title *ngFor="let pr of projects">Shiba Inu</mat-card-title>
      <mat-card-subtitle>Сведения о пользователе</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Логин: {{currentUser.email}}
      </p>
      <p>
        Роль: {{currentUser.role}}
      </p>
    </mat-card-content>
  </mat-card>-->

<h1 mat-dialog-title class="style-text">Профиль</h1>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"> </div>
    <mat-card-title>{{currentUser.email}}</mat-card-title>
    <mat-card-subtitle>Роль: {{currentUser.role}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="top">
    <p>Выложенные исследования: </p>
    <mat-chip-list *ngFor="let pr of projects">
      <mat-chip>{{pr.name.length > 40 ? pr.name.substring(0, 40) + "..." : pr.name}}</mat-chip>
    </mat-chip-list>
  </mat-card-content>
  <mat-divider></mat-divider>
  <p class="top">
    Отклики на исследования
    <button mat-raised-button color="primary"
            [matBadge]="subscribesCount" matBadgePosition="before" matBadgeColor="accent" (click)="clickMore()">
      Посмотреть
    </button>
  </p>

  <p class="top">
    Просмотры исследований
    <button mat-raised-button color="primary" (click)="clickHistory()">
      Посмотреть
    </button>
  </p>
</mat-card>



