<head>
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
</head>

<h1 mat-dialog-title class="style-text">Просмотры</h1>

<table mat-table [dataSource]="projects" class="mat-elevation-z8">

  <ng-container matColumnDef="projectName">
    <th mat-header-cell *matHeaderCellDef> Проект </th>
    <td mat-cell *matCellDef="let element"> {{element.projectName}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="organizationName">
    <th mat-header-cell *matHeaderCellDef> Организация </th>
    <td mat-cell *matCellDef="let element"> {{element.organizationName}} </td>
  </ng-container>

  <ng-container matColumnDef="contactInformation">
    <th mat-header-cell *matHeaderCellDef> Контактная информация </th>
    <td mat-cell *matCellDef="let element"> {{element.contactInformation}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="viewDate">
    <th mat-header-cell *matHeaderCellDef> Дата </th>
    <td mat-cell *matCellDef="let element"> {{element.viewDate|date:'dd-MM-yyyy HH:mm'}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>




