<head>
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
</head>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <h1 class="style-text">Зарегистрироваться</h1>
  <mat-card class="form" mat-elevation-z24>
    <mat-form-field class="input">
      <input matInput formControlName="username" required autocomplete="off" placeholder="Почта">
    </mat-form-field>
    <mat-form-field class="input">
      <input matInput type="password" formControlName="password" required autocomplete="off" placeholder="Пароль">
    </mat-form-field>

    <mat-form-field class="input">
      <mat-select placeholder="Роль" formControlName="role" required>
        <mat-option *ngFor="let role of roles" [value]="role.value">
          {{role.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <p class="input">
      <button mat-raised-button type="submit" [disabled]="loading" class="button_login" color="primary">Зарегистрироваться</button>
    <p>
      <div *ngIf="loading" class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
      </div>
  </mat-card>
</form>
