<head>
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
</head>
<form #f="ngForm" (ngSubmit)="onSubmit(f)" class="ui-form">
  <h3 class="test">Зарегистрироваться на сайте</h3>
  <div class="form-row">
    <input type="text" id="email" required autocomplete="off"><label for="email">Email</label>
  </div>
  <div class="form-row">
    <input type="password" id="password" required autocomplete="off"><label for="password">Пароль</label>
  </div>
  <p><button type="submit" class="knopka01">Зарегистрироваться</button></p>
</form>
<div class="link">
<a href='https://localhost:44357/registr'>Зарегистрироваться</a>
  </div>
