@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.text_padding{
  margin: 25px 35px 0px 35px; 
}

.spinner {
  position: fixed;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 125px;
  left: 0;
  bottom: 0;
  right: 0;
}

.paginator {
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: block;
}

button:focus {
  outline: 0 !important;
}
