/*/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.news-block {
  border-color: black;
  border-style: solid;
  border-radius: 10px;
  padding-left: 10px;
  border-right-width: 3px;
  padding-right: 10px;
}





th {
  font-size: 18px;
  padding: 10px;
}

td {
  background: #dbdac3;
  padding: 10px;
}

.push {
  list-style: none;
  font-family: "Lucida Sans";
}

  .push li {
    position: relative;
    padding: 20px 0 20px 40px;
    font-variant: small-caps;
    font-weight: bold;
    cursor: pointer;
  }

    .push li:before {
      position: absolute;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: #4F5151;
      content: "";
      left: 0;
      transition: .3s ease-in-out;
      top: 27px;
    }

    .push li:after {
      position: absolute;
      border-left: 1px dotted #4F5151;
      width: 1px;
      bottom: -12px;
      content: "";
      left: 3px;
      top: 48px;
    }

    .push li:hover:before {
      box-shadow: 0 0 0 10px rgba(0,0,0,.2)
    }

    .push li:last-child:after {
      content: none;
    }
/**/
/** {
  box-sizing: border-box;
}

body {
  background: #e6f4fd;
  font-family: 'Lucida Sans', sans-serif;
}

.ui-form {
  max-width: 350px;
  padding: 80px 30px 30px;
  margin: 50px auto 30px;
  background: white;
}

  .ui-form h3 {
    position: relative;
    z-index: 5;
    margin: 0 0 60px;
    text-align: center;
    color: #2a2e33;
    font-size: 30px;
    font-weight: normal;
  }




.form-row {
  position: relative;
  margin-bottom: 40px;
}

  .form-row input {
    display: block;
    width: 100%;
    padding: 0 10px;
    line-height: 40px;
    font-family: 'Lucida Sans', sans-serif;
    background: none;
    border-width: 0;
    border-bottom: 2px solid #576270;
    transition: all 0.2s ease;
  }

  .form-row label {
    position: absolute;
    left: 13px;
    color: #576270;
    font-size: 20px;
    font-weight: 300;
    transform: translateY(-35px);
    transition: all 0.2s ease;
  }

  .form-row input:focus {
    outline: 0;
    border-color: #F77A52;
  }

    .form-row input:focus + label,
    .form-row input:valid + label {
      transform: translateY(-60px);
      margin-left: -14px;
      font-size: 14px;
      font-weight: 400;
      outline: 0;
      border-color: #F77A52;
      color: #F77A52;
    }

.ui-form input[type="submit"] {
  width: 100%;
  padding: 0;
  line-height: 42px;
  background: #576270;
  border-width: 0;
  color: white;
  font-size: 20px;
}


.ui-form p {
  margin: 0;
  padding-top: 10px;
}

.link {
  text-align: center;
}


.example-container {
  display: flex;
  flex-direction: column;
}

  .example-container > * {
    width: 100%;
  }

.spinner {
  position: fixed;
  height: 140px;
  width: 140px;
  margin:150px;
  left:30%;
}

.text {
 padding-left:10px;
}



.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}*/

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

mat-toolbar{
  
}

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

.toolbar {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
}

.style-text {
  font-family: 'Lobster', cursive;
  padding-left: 12px;
}


.style_text_menu {
  font-family: 'Philosopher', sans-serif;
  font-family: 'Alice', serif;
  font-family: 'Arsenal', sans-serif;
  font-family: 'Old Standard TT', serif;
  font-size: 24px;
  color: #808080;
}


/*/*Форма входа*/
.form {
  width: 380px;
  margin: 2em auto;
  padding: 2em 2em 2em 2em;
  background: #fafafa;
  border: 1px solid #ebebeb;
  box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

h1, h3 {
  font-weight: 300;
}

h1 {
  color: #636363;
  text-align: center;
  padding: 36px;
}

mat-form-field {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.input {
  width: 100%;
  border: none;
  border-radius: 0;
  color: #800080;
}

.button-login {
  width: 100%;
  
}

.link-login {
  text-align: center;
}

.spinner {
  position: fixed;
  height: 140px;
  width: 140px;
  margin: 150px;
  left: 30%;
}
