/* You can add global styles to this file, and also import other style files */
.news-block {
  border-color: black;
  border-style: solid;
  border-radius: 10px;
  padding-left: 10px;
  border-right-width: 3px;
  padding-right: 10px;
}
.test {
  font-family: 'Lobster', cursive;
}

.test2 {
  font-family: 'Georgia', cursive;
  font-size: 24px;
  color: #808080;
}
.test3 {
  font-family: 'Georgia', cursive;
  font-size: 16px;
  color: #808080;
}


th {
  font-size: 18px;
  padding: 10px;
}

td {
  background: #dbdac3;
  padding: 10px;
}
.push {
  list-style: none;
  font-family: "Lucida Sans";
}

  .push li {
    position: relative;
    padding: 20px 0 20px 40px;
    font-variant: small-caps;
    font-weight: bold;
    cursor: pointer;
  }

    .push li:before {
      position: absolute;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: #4F5151;
      content: "";
      left: 0;
      transition: .3s ease-in-out;
      top: 27px;
    }

    .push li:after {
      position: absolute;
      border-left: 1px dotted #4F5151;
      width: 1px;
      bottom: -12px;
      content: "";
      left: 3px;
      top: 48px;
    }

    .push li:hover:before {
      box-shadow: 0 0 0 10px rgba(0,0,0,.2)
    }

    .push li:last-child:after {
      content: none;
    }
    /**/
/** {
  box-sizing: border-box;
}

body {
  background: #e6f4fd;
  font-family: 'Lucida Sans', sans-serif;
}

.ui-form {
  max-width: 350px;
  padding: 80px 30px 30px;
  margin: 50px auto 30px;
  background: white;
}

  .ui-form h3 {
    position: relative;
    z-index: 5;
    margin: 0 0 60px;
    text-align: center;
    color: #4a90e2;
    font-size: 30px;
    font-weight: normal;
  }

    .ui-form h3:before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 60px;
      top: -30px;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: #fee8e4;
    }

    .ui-form h3:after {
      content: "";
      position: absolute;
      z-index: -1;
      right: 50px;
      top: -40px;
      width: 0;
      height: 0;
      border-left: 55px solid transparent;
      border-right: 55px solid transparent;
      border-bottom: 90px solid #f2f7ff;
    }


.form-row {
  position: relative;
  margin-bottom: 40px;
}

  .form-row input {
    display: block;
    width: 100%;
    padding: 0 10px;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    background: none;
    border-width: 0;
    border-bottom: 2px solid #4a90e2;
    transition: all 0.2s ease;
  }

  .form-row label {
    position: absolute;
    left: 13px;
    color: #9d959d;
    font-size: 20px;
    font-weight: 300;
    transform: translateY(-35px);
    transition: all 0.2s ease;
  }

  .form-row input:focus {
    outline: 0;
    border-color: #F77A52;
  }

    .form-row input:focus + label,
    .form-row input:valid + label {
      transform: translateY(-60px);
      margin-left: -14px;
      font-size: 14px;
      font-weight: 400;
      outline: 0;
      border-color: #F77A52;
      color: #F77A52;
    }

.ui-form input[type="submit"] {
  width: 100%;
  padding: 0;
  line-height: 42px;
  background: #4a90e2;
  border-width: 0;
  color: white;
  font-size: 20px;
}

.ui-form p {
  margin: 0;
  padding-top: 10px;
}*/


