<head>
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
</head>
<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
  <h3 class="test">Войти</h3>
  <mat-form-field>
    <input matInput id="email" name="email" required ngModel autocomplete="off" placeholder="Почта">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" id="password" name="password" ngModel required autocomplete="off" placeholder="Пароль">
  </mat-form-field>
  <p><button mat-raised-button type="submit">Войти</button></p>
</form>
<div class="link">
  <a href='https://localhost:44357/registr'>Зарегистрироваться</a>
</div>

