.padding {
  /*display: block;
  margin: 0% 10% 0% 30%;*/
  padding-left: 25px;
}

.icon{
  position:absolute;
}

.position{
  position:relative;
}

.margin{
  margin: 0px;
}

.text{
  padding-left: 0pt;
}

.event_title {
  width: 100px;
}
