<head>
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
</head>

<h1 align="center" class="test">События</h1>

  <mat-spinner *ngIf="!oneEvent">Загрузка...</mat-spinner>
  <table class='table' *ngIf="oneEvent">
    <thead>
      <tr>
        <th>Название</th>
        <th>Описание</th>
        <th>Дата</th>
        <th>Адрес</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ oneEvent.title }}</td>
        <td><a href="#">{{ oneEvent.description }}</a></td>
        <td>{{ oneEvent.date|date:'dd-MM-yyyy' }}</td>
        <td>{{ oneEvent.adress }}</td>
      </tr>
    </tbody>

  </table>
